<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a Book...</h1>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}

    <form action='addBook' method="POST">
        {% csrf_token %}
        Title: <input type='text' name='title' placeholder="Book Title"><br>
        Choose an author from the list or add a new author below:
        <select> 
            {% for author in authors %}
                <option value={{author}}>{{author.name}}</option>
            {% endfor %}
        </select><br>
        Add a new author: <input type='text' name='author' placeholder="Author's Name"><br>
        Review: <textarea rows=8 cols=40 name='review'></textarea><br>
        Rating: <select>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
        </select><br>
        <input type='submit' value="Add!">

    </form>
</body>
</html>