<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Books!</h1>
    <h3>Welcome {{request.session.first_name}}!</h3>
    {% for book in books %}
        <div style="border: 2px solid black">
        <p>{{book.title}}, by {{book.author.name}}</p>
            {% for something in book.review_set.all %}
                {{something.content}}
            {% endfor %}
            <form action='/addReview' method="POST">
                {% csrf_token %}
                <input type="hidden" name='bookname' value='{{book.id}}'>
                <input type='submit' value='POST REVIEW'>
                
            </form>
        </div><br>
        
    {% endfor %}

    <form action='/addPage' method='POST'>
        {% csrf_token %}
        <input type='submit' value='Add a Book'>
    </form>
</body>
</html>

